node_modules
.plasmo
build
dist
.wrangler
.dev.vars
.env*
!.env.example
*.log
apps/extension/e2e/screenshots/
*.tsbuildinfo
apps/extension/assets/dict.dat
apps/extension/.cache
apps/extension/e2e/*.png
